.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__item {
    list-style-type: none;
    position: relative;
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;

    &--purple {
      border: 1px solid hsl(265, 56%, 90%);
      border-left: 1rem solid rgb(75, 37, 130);
    }

    &--pink {
      border: 1px solid hsl(329, 100%, 90%);
      border-left: 1rem solid rgb(229, 0, 117);
    }

    &--blue {
      border: 1px solid hsl(205, 100%, 90%);
      border-left: 1rem solid rgb(0, 113, 194);
    }

    &--green {
      border: 1px solid hsl(149, 100%, 90%);
      border-left: 1rem solid rgb(0, 123, 60);
    }

    &:last-child {
      margin: 0;
    }

    &__highlight {
      font-size: 4em;
      font-weight: 900;
      flex: 0 0 30%;

      &--purple {
        color: rgb(75, 37, 130);
      }

      &--pink {
        color: rgb(229, 0, 117);
      }

      &--blue {
        color: rgb(0, 113, 194);
      }
      &--green {
        color: rgb(0, 123, 60);
      }

    }

    &__heading {
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      flex: 1 0 50%;
    }
  }
  &__paragrah {
    font-size: 1.6rem;
  }

}
